<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Test Settings-->
    <add key="StartUpURL" value="http:\\bujinkan-ct.co.za"/>
    <add key="DriverLocation" value="Backend\Drivers\"/>
    <add key="FrontPageTitle" value="Bujinkan Home"/>
    <add key="HomePageSchoolLink" value="SCHOOLS"/>
    <add key="CapeTownSchool" value="Cape Town Dojo – Western Cape"/>
    <add key="LogonPage" value="https:\\bujinkan-ct.co.za\wp-admin"/>
    <add key="ProfilePageText" value="Profile"/>
    <add key="TestUser" value="SelUser"/>
    <add key="Password" value="P@$$W0rd"/>
    <add key="BackLinkText" value="← Back to Bujinkan Cape Town"/>
    <add key="OneSec" value="1000"/>
    <add key="TwoSec" value="2000"/>
    <add key="ThreeSec" value="3000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
